.searchClass:focus {
  outline: none;
}
.userTab:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
}
.userTab:active{
  background: rgba(0, 0, 0, 0.2);
}
.backButton:hover {
  cursor: pointer;
}
.delete:hover {
  cursor: pointer;
}
.divChat {
  width: 50%;
}
.chatDate {
  display: none;
  margin-right: 10px;
}
.divChat:hover > .chatDate {
  display: block;
  color: #746e6e;
}
.chatInput {
  width: 100%;
  background-color: #FAFAFA;
  padding: 20px;
  border: none;
  border-radius: 15px;
}
.chatInput:focus {
  outline: none;
}
.receiverChat {
  padding: 15px 30px;
  background-color: #7E98DF;
  color: #fff;
  border-radius: 35px 35px 35px 10px;
  max-width: 89%;
}
.receiverChatDate {
  display: none;
}
.receiverChat:hover + .receiverChatDate {
  display: block;
  color: #746e6e;
}
.style2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.style2::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.style2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #7E98DF;
}